.main {
  /* padding: 17px; */
}

.RadiaChart-title-main {
  margin-top: 10px;
  padding: 16.65px 32px;
  border-radius: 8px;
  background: rgb(248, 249, 251);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RadiaChart-title-one p {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 6px;
  color: rgb(10, 10, 10);
}

.RadiaChart-title-one span {
  margin-bottom: 0px;
  font-size: 15px;
  line-height: 1.25;
  color: rgb(64, 64, 64);
}

.main-color p {
  background-color: rgba(1, 184, 26, 0.063);
  color: rgb(1, 184, 26);
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 15px;
  display: inline !important;
  font-size: 13px;
  padding: 4.5px 11.85px;
}
